<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Blank</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="/assets/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="/assets/css/app.css"
              rel="stylesheet">
        <link type="text/css"
              href="/assets/css/app.rtl.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="/assets/css/vendor-material-icons.css"
              rel="stylesheet">
        <link type="text/css"
              href="/assets/css/vendor-material-icons.rtl.css"
              rel="stylesheet">

        <!-- Font Awesome FREE Icons -->
        <link type="text/css"
              href="/assets/css/vendor-fontawesome-free.css"
              rel="stylesheet">
        <link type="text/css"
              href="/assets/css/vendor-fontawesome-free.rtl.css"
              rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async
                src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-133433427-1');
        </script>
        
       

    </head>

    <body class="layout-default">

        <div class="preloader"></div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <%- include('partials/header')%>

            <!-- // END Header -->

           
           
            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content">

                <div class="mdk-drawer-layout js-mdk-drawer-layout"
                     data-push
                     data-responsive-width="992px">
                    <div class="mdk-drawer-layout__content page">

                        <div class="container-fluid page__heading-container">
                            <div class="page__heading d-flex align-items-center">
                                <div class="flex">
                                   <h1 class="m-0">Cluster Overview</h1>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid page__container">
                               <div class="card card-form">
                                    <div class="card">
                                        
                                        <div class="card-header card-header-tabs-basic nav"
                                             >
                                            <a href="/clusteroverview/<%=data._id%>?form=1"
                                               
                                               
                                               role="tab"
                                               aria-controls="activity_all"
                                               aria-selected="true">Sfruti Registration</a>
                                            <a href="/clusteroverview/<%=data._id%>?form=2"
                                              class="active"
                                               
                                               aria-selected="false">Cluster Progress</a>
                                            <a href="/clusteroverview/<%=data._id%>?form=3"
                                               
                                               role="tab"
                                               aria-selected="false">Cluster Products</a>
                                            <a href="/clusteroverview/<%=data._id%>?form=4&name=all"
                                               
                                               role="tab"
                                               aria-selected="false">Artisans Details</a>
                                            <a href="/clusteroverview/<%=data._id%>?form=5"
                                               
                                               role="tab"
                                               aria-selected="false">Qualitative Monthly Cluster Report</a>
                                            <a href="/clusteroverview/<%=data._id%>?form=6"
                                               
                                               role="tab"
                                               aria-selected="false">Quantative Monthly Cluster Report</a>
                                            <a href="/clusteroverview/<%=data._id%>?form=7"
                                               
                                               role="tab"
                                               aria-selected="false">Monthly Progress Cluster Report</a>
                                        </div>
                                    </div>   
                                  <div class="card-body">
                                        <p><strong class="headings-color">Cluster Progress</strong></p>
                                  </div>
                                  
                                          
                                          <div class="row no-gutters">
                                             <div class="card-form__body card-body">
                                                <p>No Data</p>
                                            </div>
                                          </div>
                                       
                                 
                       
                               </div>
                          </div>       
                        
                    </div>






                    <!-- // END drawer-layout__content -->

                    <%- include('partials/sidebar') %>
                </div>
                <!-- // END drawer-layout -->

            </div>
            <!-- // END header-layout__content -->

        </div>
        <!-- // END header-layout -->

        <!-- App Settings FAB -->
        <div id="app-settings">
            <app-settings layout-active="default"
                          :layout-location="{
      'default': 'blank.html',
      'fixed': 'fixed-blank.html',
      'fluid': 'fluid-blank.html',
      'mini': 'mini-blank.html'
    }"></app-settings>
        </div>

        <!-- jQuery -->
        <script src="/assets/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="/assets/vendor/popper.min.js"></script>
        <script src="/assets/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="/assets/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="/assets/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="/assets/vendor/material-design-kit.js"></script>

        <!-- App -->
        <script src="/assets/js/toggle-check-all.js"></script>
        <script src="/assets/js/check-selected-row.js"></script>
        <script src="/assets/js/dropdown.js"></script>
        <script src="/assets/js/sidebar-mini.js"></script>
        <script src="/assets/js/app.js"></script>

        <!-- App Settings (safe to remove) -->
        <script src="/assets/js/app-settings.js"></script>

    </body>

</html>