<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tables</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="/assets/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="/assets/css/app.css"
              rel="stylesheet">
        <link type="text/css"
              href="/assets/css/app.rtl.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="/assets/css/vendor-material-icons.css"
              rel="stylesheet">
        <link type="text/css"
              href="/assets/css/vendor-material-icons.rtl.css"
              rel="stylesheet">

        <!-- Font Awesome FREE Icons -->
        <link type="text/css"
              href="/assets/css/vendor-fontawesome-free.css"
              rel="stylesheet">
        <link type="text/css"
              href="/assets/css/vendor-fontawesome-free.rtl.css"
              rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async
                src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-133433427-1');
        </script>

    </head>

    <body class="layout-default">

        <div class="preloader"></div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <%- include('partials/header')%>

            <!-- // END Header -->

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content">

                <div class="mdk-drawer-layout js-mdk-drawer-layout"
                     data-push
                     data-responsive-width="992px">
                    <div class="mdk-drawer-layout__content page">

                        <div class="container-fluid page__heading-container">
                            <div class="page__heading">

                                <h1 class="m-0">DPR Proposals</h1>
                            </div>
                        </div>

                        <div class="container-fluid page__container">
                            
                            <div class="card card-form">
                                <div class="row no-gutters">
                                    <div class="col-lg-12 card-form__body">
                                         <div class="table-responsive border-bottom" >
                                             <table class="table mb-0 thead-border-top-0" >
                                                <thead>
                                                    <tr>

                                                        <th>SNo.</th>
                                                        <th >Cluster Name</th>
                                                        <th >State Name</th>
                                                        <th >District Name</th>
                                                        <th >Email</th>
                                                        <th >Age of Cluster</th>
                                                        <th >Nature of Applicant Organization</th>
                                                        <th >Potential No. of Artisans</th>
                                                        <th >Edit</th>
                                                    </tr>
                                
                                                </thead>
                                                <% if (data.length == 0) { %>
                                                    <tbody class="list"
                                                       id="staff02">
                                                    <tr>
                                                       <td><p>No DPR proposals yet.</p></td>
                                                      
                                                       
                                                    </tr>
                                                 </tbody>
                                                <% }else{ %>
                                                   <% for(var i=0;i < data.length;i++){ %> 
                                                   <tbody class="list"
                                                       id="staff02">
                                                    <tr>
                                                       <td><span class="js-lists-values-employee-name"><%=i+1%>.</span></td>
                                                       <td><span class="js-lists-values-employee-name"><%=data[i].ClusterInfo.Name%></span></td>
                                                       <td><span class="js-lists-values-employee-name"><%=data[i].ClusterInfo.State%></span></td>
                                                       <td><span class="js-lists-values-employee-name"><%=data[i].ClusterInfo.District%></span></td>
                                                       <td><span class="js-lists-values-employee-name"><%=data[i].ClusterInfo.Email%></span></td>
                                                       <td><span class="js-lists-values-employee-name"><%=data[i].ClusterInfo.Estd%></span></td>
                                                       <td><span class="js-lists-values-employee-name"><%=data[i].ClusterInfo.OrgType%></span></td>
                                                       <td><span class="js-lists-values-employee-name"><%=data[i].ClusterInfo.NoPotentialArtisans%></span></td> 
                                                       <td><a href="/dpr/<%=data[i]._id%>/1"
                                                               class="text-muted"><button type="button"
                                                               class="btn btn-outline-dark">Edit</button></a></td>
                                                    </tr>
                                                 </tbody>
                                                  <% }%>
                                                <% } %> 
                                              </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- // END drawer-layout__content -->

                    <%- include('partials/sidebar') %>
                </div>
                <!-- // END drawer-layout -->

            </div>
            <!-- // END header-layout__content -->

        </div>
        <!-- // END header-layout -->

        <!-- App Settings FAB -->
        <div id="app-settings">
            <app-settings layout-active="default"
                          :layout-location="{
      'default': 'ui-tables.html',
      'fixed': 'fixed-ui-tables.html',
      'fluid': 'fluid-ui-tables.html',
      'mini': 'mini-ui-tables.html'
    }"></app-settings>
        </div>

        <!-- jQuery -->
        <script src="assets/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="assets/vendor/popper.min.js"></script>
        <script src="assets/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="assets/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="assets/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="assets/vendor/material-design-kit.js"></script>

        <!-- App -->
        <script src="assets/js/toggle-check-all.js"></script>
        <script src="assets/js/check-selected-row.js"></script>
        <script src="assets/js/dropdown.js"></script>
        <script src="assets/js/sidebar-mini.js"></script>
        <script src="assets/js/app.js"></script>

        <!-- App Settings (safe to remove) -->
        <script src="assets/js/app-settings.js"></script>

        <!-- List.js -->
        <script src="assets/vendor/list.min.js"></script>
        <script src="assets/js/list.js"></script>

    </body>

</html>